body{
    
    padding: 0;
    margin: 0;
    font-family: 'Pirata One', cursive;
    
}
.logo{
    width: 50px;
    height:50px;
}

.nav-list {
    background: #EEE;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    margin: 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    
    margin-top:10%;
    width: 80%;
   
    
}
.wrapper-2{
    margin-top:5%;
    width: 50%;
   
    
    
}

.centered{
    text-align: center;
}
.cards{
    width:30%;
    height:100%;
    display: inline-block;
    margin: 20px;
    
}
/* .cards:hover{
    
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  
} */
.cards p{
    font-size: small;
}
.food-icon{
    display: block;
    margin: 0 auto;
    width:30px;
    height:30px;
    padding-top:20px;
}
a{
    text-decoration: none;
    color: black;
}
.food{
    display:block;
    margin: 0 auto;
    width:500px;
    height:300px;
    padding-top:20px;
}
.ingredients-list{
    list-style: none;
}
.ingredients{
    display: block;
    width: fit-content;
    
    
    text-align: left;
}
.ingredients-list-item::marker{
    content: "➜";
    padding-right: 50px;
}
.ingredients-list-item{
    padding-top: 10px;
}
span{
    margin-left:10px;
    
}
.ingredients-div{
    
    width: 500px;
    display: block;
    margin: auto;
    margin-top:50px;
}
.recipe{
    display:block;
    margin: auto;
    width:500px;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}